# Build Artifacts & Executables
run_the_games
run_the_games_static
test
test_static
*.dSYM/
MTG.app/

# Clangd & IDE Caches
.cache/

# Local static SFML dependencies
deps/

# macOS system files
.DS_Store
